<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Volcano</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="Black" />
                <SvgColor Name="Paint High" Value="57,62,70" />
                <SvgColor Name="Paint Shadow" Value="71,75,83" />
                <SvgColor Name="Paint Deep Shadow" Value="81,85,93" />
                <SvgColor Name="Brush" Value="238,238,238" />
                <SvgColor Name="Brush Light" Value="128,132,141" />
                <SvgColor Name="Brush High" Value="238,238,238" />
                <SvgColor Name="Brush Major" Value="90,94,101" />
                <SvgColor Name="Brush Minor" Value="90,94,101" />
                <SvgColor Name="Accent Paint" Value="214,51,92" />
                <SvgColor Name="Accent Paint Light" Value="76,82,92" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="255,166,189" />
                <SvgColor Name="Key Paint" Value="Transparent" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="112,117,128" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="229,229,229" />
                <SvgColor Name="Gray" Value="128,132,141" />
                <SvgColor Name="White" Value="71,75,83" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="229,229,229" />
                <SvgColor Name="altWhite" Value="71,75,83" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>